services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
      MONGO_INITDB_DATABASE: rebyu-db
    volumes: 
      - ./volumes/mongodb/db:/data/db
      - ./volumes/mongodb/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  postgres: 
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: rebyu_database
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data